<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 - Page Not Found</title>
        <link rel="stylesheet" href="./css/404.css">
</head>
<body>
    <div class="container">
        <div class="error">
            <h1>404</h1>
            <p>Oops! The page you're looking for doesn't exist.</p>
            <a href="/" class="btn">Go Back Home</a>
        </div>
        <div class="space">
            <div class="astronaut">
                <img src="./img/astronaut.png">
            </div>
            <div class="stars">
                <!-- Adding stars for space effect -->
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <!-- Add more stars as needed -->
            </div>
        </div>
    </div>
</body>
</html>
