<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" sizes="16x16" href="/img/weather.png" type="image/png">

        <link rel="stylesheet" href="./css/styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
        {{>header}}
    <h1>About Page</h1>
    <p>This site was created by Alex. It uses data from mapbox.com</p>

    {{>footer}}
</body>

</html>