<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="./css/styles.css">
<link rel="icon" sizes="16x16" href="/img/weather.png" type="image/png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help page</title>
</head>
<body>
    {{>header}}
        <h1>Help Page</h1>
    <p>{{description}}</p>

    {{>footer}}
</body>
</html>